/* Typography */

@font-face {
    font-family: 'helix';
    src: url('../fonts/MyriadPro-Light.woff2') format('woff2'), url('../fonts/MyriadPro-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'helix';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'), url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'helix';
    src: url('../fonts/MyriadPro-Cond.woff2') format('woff2'), url('../fonts/MyriadPro-Cond.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'helix';
    src: url('../fonts/MyriadPro-BoldCond.woff2') format('woff2'), url('../fonts/MyriadPro-BoldCond.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'helix';
    src: url('../fonts/MyriadPro-Bold.woff2') format('woff2'), url('../fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: 700;
}

body {
    font-family: 'helix';
    font-weight: 300;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000;
    /* display: inline-block; */
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0
}

strong, b {
    font-weight: bold;
}

span {
    color: #43b659;
}

h2 {
    font-size: 53px;
    font-weight: 600;
}

input, button {
    font-family: inherit;
}

td {
    vertical-align: middle;
}

.title {
    text-align: center;
    margin-bottom: 80px;
}

.btn {
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

.padding {
    padding: 80px 0;
}

.fixed {
    background-color: #43b659;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0px -2px 23px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px -2px 23px 0px rgba(0, 0, 0, 0.17);
}

.margin_right_0 {
    margin-right: 0;
}

/* Header */

.header {
    background-color: #43b659;
}

.header_top_row {
    text-align: center;
}

.header_top_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: left;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo img, .logo_2 img {
    height: 80px;
}

.header_top_text {
    color: #ffffff;
    font-size: 13px;
    /* font-family: 'Helix'; */
    font-weight: 400;
    line-height: 1.55;
    padding: 10px 0;
}

.header_top_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.vertical {
    content: "";
    width: 1px;
    height: 100%;
    border-bottom: 15px solid #43b659;
    background-color: #fff;
}

.logo_2, .hamburger_block, .hamburger_block_fixed {
    display: none;
}

.header_top_phone {
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 10px;
}

.header_top_button {
    -webkit-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -o-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -webkit-transition-property: background-color, color, border-color;
    -o-transition-property: background-color, color, border-color;
    transition-property: background-color, color, border-color;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: #fff;
    color: #43b659;
    font-weight: 600;
    padding: 12px 10px;
    font-family: arial;
    border: 2px solid transparent;
}

.header_top_button:hover {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.header_bot_row {
    padding: 20px 0px;
}

.header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav_fixed.fixed {
    display: block;
}

.fixed_phone {
    text-align: center;
    display: none;
}

.fixed .fixed_phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fixed .header_bot_row {
    display: block;
}

.header_bot_row a {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    margin: 0 10px;
    -webkit-transition: padding-bottom 0.3s, border-bottom 0.3s;
    -o-transition: padding-bottom 0.3s, border-bottom 0.3s;
    transition: padding-bottom 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

.header_bot_row a:hover {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}

/* Promo */

.promo {
    background-image: url('../img/promo.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 80px 0;
    /* height: 100vh; */
}

.promo_text {
    color: #ffffff;
    font-weight: 600;
    font-size: 70px;
    line-height: 1.23;
}

.promo_button {
    -webkit-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -o-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -webkit-transition-property: background-color, color, border-color;
    -o-transition-property: background-color, color, border-color;
    transition-property: background-color, color, border-color;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #43b659;
    padding: 20px 64px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 60px;
}

.promo_button:hover {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: rgba(255, 255, 255, 0.3);
    color: #43b659;
    border-color: #43b659;
}

.slider_promo .slick-arrow {
    font-size: 0;
    background: transparent;
    border: none;
    position: absolute;
    padding: 0;
}

.slider_promo .slick-arrow.slick-prev {
    top: 50%;
    left: 10px;
}

.slider_promo .slick-arrow.slick-next {
    top: 50%;
    right: 10px;
}

.slider_promo .slick-arrow.slick-prev:before, .slider_promo .slick-arrow.slick-next:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 41px;
    background: url(../img/icons/sl-arrow.png) no-repeat center center;
    z-index: 99;
}

.slider_promo .slick-arrow.slick-prev:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* About */

.about {
    background-color: #fff;
}

.about_left {
    background-image: url('../img/about.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_right {
    padding: 60px 70px 0 50px;
    background-color: #43b659;
    color: #ffffff;
}

.about_right h2 {
    margin-bottom: 30px;
}

.about_right h2+p {
    position: relative;
    padding-top: 25px;
}

.about_right h2+p:before {
    display: inline-block;
    content: "";
    top: 0;
    left: 0;
    width: 50px;
    height: 3px;
    /* margin: 15px 0; */
    position: absolute;
    background-color: #fff;
}

.about_right p {
    line-height: 28px;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 30px;
}

/* Specialists */

.specialists {
    background-color: #EFEFEF;
    padding-bottom: 40px;
}

.spec_marg {
    margin-bottom: 40px;
}

.spec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    font-weight: 300;
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
    padding-bottom: 30px;
}

.spec p {
    margin-bottom: 25px;
    padding: 0 20px;
    max-width: 100%;
}

.spec_name {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    max-width: 100%;
}

.spec_btn, .spec_form1_btn, .spec_form2_btn {
    -webkit-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -o-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -webkit-transition-property: background-color, color, border-color;
    -o-transition-property: background-color, color, border-color;
    transition-property: background-color, color, border-color;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border: 1px solid transparent;
    background-color: #43b659;
    color: #fff;
    font-weight: 400;
}

.spec_btn {
    padding: 4px 14px;
    /* border-radius: 0px; */
}

.spec_bot_text {
    margin-top: 30px;
}

.spec_form1_btn, .spec_form2_btn {
    font-size: 14px;
    font-weight: 700;
    padding: 14px 34px;
    margin: auto 0 15px;
}

.spec_form2_btn {
    margin: 0;
}

.spec_btn:hover, .spec_form1_btn:hover, .spec_form2_btn:hover {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: transparent;
    color: #000;
    border-color: #43b659;
}

/* Promo 1 */

.promo_1 {
    background-image: url('../img/promo1.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 80px 0;
}

.promo_1 .row {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.promo_1_text {
    color: #000;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.23;
}

.promo_content ul {
    /* text-align: left; */
    font-size: 35px;
    margin-top: 30px;
    font-weight: 500;
    line-height: 1.25;
}

.promo_1_button {
    -webkit-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -o-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -webkit-transition-property: background-color, color, border-color;
    -o-transition-property: background-color, color, border-color;
    transition-property: background-color, color, border-color;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #43b659;
    padding: 20px 44px;
    font-weight: 600;
    font-family: Arial;
    font-size: 14px;
    margin-top: 40px;
    border-radius: 30px;
}

.promo_1_button:hover {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: rgba(255, 255, 255, 0.6);
    color: #43b659;
    border-color: #43b659;
}

/* preim */

.preim {
    color: #fff;
    background-color: #EFEFEF;
    font-weight: 300;
    padding-bottom: 0;
}

.preim_title {
    color: #000;
}

.preim_left_item, .preim_right_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 90px;
}

.preim_left_item img, .preim_right_item img {
    width: 50px;
    height: 50px;
}

.preim_row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.preim_row p {
    color: #000;
    /* line-height: 28px; */
    line-height: 28px;
    font-weight: 600;
    font-size: 22px;
    margin-left: 15px;
}

.preim_left_item p, .preim_right_item p {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

/* Feedback */

.fbs img {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-bottom: 35px;
}

.fbs_title {
    color: #000;
}

.fb {
    text-align: center;
}

.fb_text {
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 300;
}

.fb_name {
    font-weight: 700;
    font-size: 16px;
}

.bf_btns {
    text-align: center;
}

.fb_btn_1, .fb_btn_2 {
    font-weight: 700;
    font-size: 16px;
    margin: 0 10px;
}

.fb_btn_1 {
    -webkit-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -o-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -webkit-transition-property: background-color, color, border-color;
    -o-transition-property: background-color, color, border-color;
    transition-property: background-color, color, border-color;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border: 2px solid transparent;
    background-color: #43b659;
    color: #fff;
    padding: 18px 53px;
    margin-right: 25px;
}

.fb_btn_1:hover {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: transparent;
    color: #43b659;
    border-color: #43b659;
}

.fb_btn_2 {
    -webkit-transition-property: background-color, color, border-color;
    -o-transition-property: background-color, color, border-color;
    transition-property: background-color, color, border-color;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: 3px solid #000;
    padding: 17px 55px;
}

.fb_btn_2:hover {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: rgba(67, 182, 89, 0.9);
    color: #fff;
    border-color: #43b659;
}

.sl-nav {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 4px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.fbs .slick-arrow {
    font-size: 0;
    background: transparent;
    border: none;
    position: absolute;
    padding: 0;
}

.fbs .slick-arrow.slick-prev {
    top: 50%;
    left: -20px;
}

.fbs .slick-arrow.slick-next {
    top: 50%;
    right: -20px;
}

.fbs .slick-arrow.slick-prev:before, .fbs .slick-arrow.slick-next:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 41px;
    background: url(../img/icons/sl-arrow.png) no-repeat center center;
}

.fbs .slick-arrow.slick-prev:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sl-wrap {
    padding: 15px 25px;
    text-align: center;
}

.sl-wrap .img-wrap {
    background: #fff;
    display: inline-block;
    padding: 22px;
    border-radius: 50%;
    border: 2px solid #3d3d3d;
    margin-bottom: 12px;
}

.sl-wrap .sl-review {
    color: #242424;
}

.sl-wrap .title {
    font-size: 18px;
    margin-bottom: 4px;
}

.sl-wrap .name {
    text-align: right;
    margin-top: 12px;
}

.slick-dots li {
    display: inline-block;
    margin: 6px;
    vertical-align: middle;
}

.slick-dots button {
    font-size: 0;
    border: 1px solid #6a6a6a;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: transparent;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    line-height: normal;
    vertical-align: middle;
    padding: 0;
}

.slick-active button {
    width: 10px;
    height: 10px;
    border: none;
    -webkit-box-shadow: 0 0 0 7px #fff, 0 0 0 8px #43b659;
    box-shadow: 0 0 0 7px #fff, 0 0 0 8px #43b659;
    background: #43b659;
    margin: 4px;
    padding: 0;
}

.slick-dots li:not(.slick-active) button:hover {
    background: #6a6a6a;
}

/* Promo_2 */

.promo_2 {
    background-image: url('../img/promo1.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 80px 0;
}

.promo_2 .row {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.promo_2_form {
    width: 70%;
}

.promo_2_text {
    color: #000;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.23;
    margin-bottom: 40px;
}

.promo_2_form input, .promo_2_form textarea {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
}

.promo_2_form input {
    display: block;
    font-size: 14px;
    width: 70%;
    border: 1px solid #000;
    /* background-color: #4d4d4d; */
    border-radius: 10px;
    padding: 18px;
    margin-bottom: 20px;
    display: inline-block;
    color: #000;
    outline: 0;
    font-size: 17px;
    font-weight: 400;
}

.promo_2_form textarea {
    font-size: 14px;
    width: 70%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 18px;
    font-size: 17px;
    font-weight: 400;
}

.promo_2_form input:focus, .promo_2_form textarea:focus {
    border: 1px solid #43b659;
}

.promo_2_button {
    -webkit-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -o-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -webkit-transition-property: background-color, color, border-color;
    -o-transition-property: background-color, color, border-color;
    transition-property: background-color, color, border-color;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid transparent;
    color: #ffffff;
    background-color: #111111;
    padding: 17px 45px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 10px;
    width: 200px;
    border: none;
}

.promo_2_button:hover {
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: rgba(67, 182, 89, 1);
    color: #fff;
    border-color: #43b659;
}

/* Footer */

.footer {
    color: #ffffff;
    background-color: #111111;
    padding: 35px 0px;
    font-size: 20px;
    font-weight: 600;
}

.footer_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer_nav a {
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 10px;
    -webkit-transition: padding-bottom 0.3s, border-bottom 0.3s;
    -o-transition: padding-bottom 0.3s, border-bottom 0.3s;
    transition: padding-bottom 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

.footer_nav a:hover {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}

.goup_btn {
    text-align: right;
}

.goup_btn a {
    color: #fff;
}

/* DC PAGE */

.site_content {
    -webkit-box-shadow: 0 0 20px #d1d1d1;
    box-shadow: 0 0 20px #d1d1d1;
    border: 1px solid #e8e8e8;
    border-top: none;
    border-radius: 0 0 5px 5px;
    color: #3a3a3a;
    padding-bottom: 60px;
}

.zapis {
    text-align: center;
    padding: 40px 0 10px;
    font-size: 25px;
    color: #33ae2c;
    font-weight: 600;
}

.page_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
    font-size: 20px;
    color: #3a3a3a;
    font-weight: normal;
    font: 13px Tahoma, Arial, sans-serif;
}

.hr {
    border-bottom: 1px solid #dadada;
    margin-right: -20px;
    margin-left: -20px;
    position: relative;
}

.hr p {
    position: absolute;
    background-color: #fff;
    top: -12px;
    left: 745px;
    font-size: 20px;
    font-weight: 400;
    padding: 0 15px;
}

.page_title img {
    margin-right: 20px;
}

.back_print {
    padding: 30px 0;
    font: 13px Tahoma, Arial, sans-serif;
}

.back_print a {
    color: #098700;
    font: 13px Tahoma, Arial, sans-serif;
}

.info_block h4, .info_block_pay h4 {
    font: 81.25% Tahoma, Arial, sans-serif;
    color: #33ae2c;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.info_block p {
    margin-bottom: 20px;
    font-style: normal;
    font-size: 14px;
    font: 13px Tahoma, Arial, sans-serif;
}

.info_block_pay {
    font: 13px Tahoma, Arial, sans-serif;
}

.info_block_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.info_block_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.info_block_item:last-of-type {
    margin-right: 50px;
}

.info_block_item img {
    margin-right: 10px;
}

.image_block img {
    max-height: 90px;
}

/* DC PAGE form */

/* 
.form_new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
} */

.form_zapis {
    padding-top: 60px;
    text-align: center;
}

.form_zapis input, .form_zapis textarea {
    background-color: rgba(255, 255, 255, 0.6);
}

.form_zapis input {
    width: 100%;
    display: block;
    font-size: 15px;
    border: 1px solid #000;
    /* background-color: #4d4d4d; */
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 20px;
    color: #000;
    outline: 0;
    font-size: 17px;
    font-weight: 400;
}

.form_zapis input:focus, .form_zapis textarea:focus {
    border: 1px solid #43b659;
}

.form_zapis_btn {
    -webkit-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -o-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -webkit-transition-property: background-color, color, border-color;
    -o-transition-property: background-color, color, border-color;
    transition-property: background-color, color, border-color;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid transparent;
    color: #ffffff;
    background-color: #43b659;
    padding: 14px 35px;
    font-weight: 400;
    font-size: 20px;
    /* margin-top: 10px; */
    border-radius: 10px;
    width: 40%;
    border: none;
}

.form_zapis_btn:hover {
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: #111111;
    color: #fff;
    border-color: #43b659;
}

.feedback_form {
    text-align: center;
}

.feedback_form input, .feedback_form textarea {
    background-color: rgba(255, 255, 255, 0.6);
}

.feedback_form input, .feedback_form textarea {
    width: 100%;
    display: block;
    font-size: 15px;
    border: 1px solid #000;
    /* background-color: #4d4d4d; */
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 20px;
    color: #000;
    outline: 0;
    font-size: 17px;
    font-weight: 400;
}

.feedback_form input:focus, .feedback_form textarea:focus {
    border: 1px solid #43b659;
}

.form_zapis_btn {
    -webkit-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -o-transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    transition-timing-function: cubic-bezier(.47, 0, 1, .05);
    -webkit-transition-property: background-color, color, border-color;
    -o-transition-property: background-color, color, border-color;
    transition-property: background-color, color, border-color;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid transparent;
    color: #ffffff;
    background-color: #43b659;
    padding: 14px 35px;
    font-weight: 400;
    font-size: 20px;
    /* margin-top: 10px; */
    border-radius: 10px;
    width: 40%;
    border: none;
}

.feedback_form_btn:hover {
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: #111111;
    color: #fff;
    border-color: #43b659;
}

/* DOC PAGE */

h3 {
    font-size: 27px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

h3:first-of-type {
    font-size: 32px;
    margin-top: 20px;
}

.doc {
    padding-top: 60px;
    padding-bottom: 60px;
}

.doc_left {
    text-align: center;
}

.doc_name {
    padding: 10px 5px;
    font-size: 19px;
    border: 1px solid #b9b9b9;
    margin-top: 30px;
}

.doc_title {
    padding: 10px 5px;
    font-size: 16px;
    border: 1px solid #b9b9b9;
    border-top: none;
}

.doc_btn {
    background: #1a8008;
    color: white;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    font-weight: 400;
}

.doc_right {
    padding-bottom: 40px;
    border-bottom: 1px solid #b9b9b9;
}

.doc li {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.2;
}

/* PRICE PAGE */

.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.price {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.price thead {
    background: #33ae2c;
}

.price thead td {
    padding: 20px 0;
    color: #fff;
    text-align: center;
    font-weight: bold;
    width: 25%;
}

.price thead td:first-child {
    width: 33.333%;
}

.price tr td:not(:first-child) {
    font-weight: bold;
}

.price tr td {
    padding: 30px 0;
    text-align: center;
}

.price tr:nth-child(even) {
    background: #f6f6f6;
}

.content h2.price_h2 {
    font-size: 24px;
}

.content h2.price_h2:before {
    top: 3px;
    height: 22px;
}

.price_h2 {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1199px) {
    /* DC PAGE */
    .hr p {
        left: 670px;
        font-size: 19px;
    }
    .info_block_item:last-of-type {
        margin-right: 0px;
    }
    .form_zapis_btn {
        width: 43%;
    }
}

@media only screen and (max-width: 991px) {
    .padding {
        padding: 60px 0;
    }
    .title {
        margin-bottom: 70px;
    }
    .logo {
        padding: 15px 0;
    }
    .logo img {
        height: 60px;
    }
    .nav_fixed {
        display: none;
    }
    .promo_text {
        font-size: 65px;
    }
    .promo_1_text {
        font-size: 45px;
    }
    .promo_content ul {
        font-size: 30px;
    }
    .about_left {
        display: none;
    }
    .fb_btn_1 {
        margin-bottom: 20px;
    }
    .promo {
        background-position: top left;
    }
    .promo_2_form input {
        width: 100%;
    }
    .promo_2_form textarea {
        width: 100%;
    }
    .preim_left_item, .preim_right_item {
        margin-bottom: 80px;
    }
    .footer {
        font-size: 15px;
    }
    /* DC PAGE */
    .hr p {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .form_zapis_btn {
        width: 80%;
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .padding {
        padding: 50px 0;
    }
    .title {
        margin-bottom: 60px;
    }
    .logo, .header_nav, .header_nav_col {
        display: none;
    }
    .header_top_flex {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .logo_2, .hamburger_block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header_top_text {
        display: none;
    }
    .fixed .hamburger_block_fixed {
        display: block;
    }
    .vertical {
        display: none;
    }
    .header_top_right {
        padding: 40px 0;
    }
    .promo_text {
        font-size: 47px;
    }
    .promo_1 .promo_content {
        text-align: center;
    }
    .promo_content ul {
        font-size: 35px;
    }
    .promo_2_form input, .promo_2_form textarea {
        background-color: rgba(255, 255, 255, 0.9);
    }
    .preim_left_item, .preim_right_item {
        margin-bottom: 70px;
    }
    .copyright_col {
        text-align: center;
        margin: 40px 0;
    }
    .footer_nav_col {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .goup_btn {
        text-align: center;
    }
    .footer {
        font-size: 20px;
    }
    /*  */
    .dc_left {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 575px) {
    h2 {
        font-size: 35px;
    }
    .padding {
        padding: 40px 0;
    }
    .title {
        margin-bottom: 40px;
    }
    .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .logo_2 {
        display: none;
    }
    .header_nav {
        display: none;
    }
    .hamburger {
        padding: 15px 0px;
    }
    .promo {
        padding: 40px 0;
        text-align: center;
    }
    .promo_text {
        font-size: 38px;
    }
    .promo_button {
        padding: 10px 54px;
        font-weight: 700;
        font-size: 12px;
        margin-top: 20px;
    }
    .about {
        background-color: #43b659;
        text-align: center;
    }
    .about_right {
        padding: 0px 20px 0 20px;
    }
    .about_right p {
        font-size: 17px;
    }
    .about_right h2+p:before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .promo_1 {
        padding: 40px 0;
    }
    .promo_1 .promo_content {
        text-align: left;
    }
    .promo_1_text {
        font-size: 37px;
    }
    .promo_content ul {
        font-size: 34px;
    }
    .promo_1_button {
        padding: 20px 14px;
    }
    .preim_left_item, .preim_right_item {
        margin-bottom: 60px;
    }
    .preim_row p {
        font-size: 20px;
    }
    .preim_right_item:last-of-type, .spec_marg:last-of-type {
        margin-bottom: 0;
    }
    .fb_btn_2 {
        padding: 17px 48px;
    }
    .fb_btn_1, .fb_btn_2 {
        margin-right: 0;
        margin-left: 0;
    }
    .fbs .slick-arrow.slick-prev:before, .fbs .slick-arrow.slick-next:before {
        display: none;
    }
    .footer {
        font-size: 25px;
    }
    .footer_nav {
        display: block;
        text-align: center;
    }
    .footer_nav li {
        margin-bottom: 15px;
    }
    /* DC PAGE */
    .zapis {
        padding: 20px 0 0;
    }
    .hr p {
        font-size: 17px;
    }
    .form_zapis_btn {
        font-size: 16px;
    }
    /* PRICE PAGE */
    .price thead {
        font-size: 14px;
    }
    .price tr td {
        padding: 17px 3px;
    }
}